/********************************************************************/
body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/********************************************************************/
header {
    display: flex;
    height: 20%;
    width: 100%;
    background-color: black;
    font-size: 1.5em;
    color: white;
    align-items: center;
    justify-content: center;
}

/********************************************************************/
section {
    display: flex;
    height: 70%;
    width: 100%;
}

/********************************************************************/
nav {
    height: 100%;
    width: 20%;
    background-color: gray;
    padding: 10px;
    order: 1;
    overflow: hidden;
}

/********************************************************************/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    order: 2;
    overflow: scroll;
    padding: 50px;
}

.noMT {
    margin: 0;
    color: gray;
}

.centrado {
    text-align: center;
}

.contenido{
    padding: 50px;
}

.contenedor1 {
    display: flex;
    flex-direction: row;
}

.col1, .col2 {
   width: 300px;
   margin: 20px;
}

.col1 ul {
    padding-left: 25px;

}

.col2 fieldset{
    margin-bottom: 30px;
}

.col2 form {
    padding-left: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    border: none;
}
.menu div {
    width: fit-content;
    margin: 10px;
}
.menu div > * {
    display: block;
    margin-bottom: 10px;
}
.menu input {
    width: 100px;
}

.racionalresult {
    color: blue;
    font-size: large;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

/********************************************************************/
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: gray;
    order: 3;
}

/********************************************************************/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: black;
    color: white;
}

/********************************************************************/

table {
    margin:auto;
    border: 1px solid black;
    border-collapse: collapse;
    float: left;
}

tr.first-row {
    text-align: center;
    color: white;
    background-color: darkblue;
}

td,th {padding:10px; border: 1px solid black;}

/********************************************************************/

fieldset {
    background-color: lightgray;
    border-radius: 20px;
    border-color: blue;
    margin: auto;
}

legend {
    font-weight: bold;
}


/********************************************************************/


a {
    text-decoration: none;
    color: blue ;
}

.contenido h2 {
    text-align: center;
}

.azul {
    color: blue;
}